body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:707px;
}
#u1173 {
  position:absolute;
  left:713px;
  top:403px;
  width:1037px;
  height:707px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:346px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:89px;
}
#u1175 {
  position:absolute;
  left:1283px;
  top:932px;
  width:309px;
  height:89px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:36px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:89px;
}
#u1177 {
  position:absolute;
  left:899px;
  top:932px;
  width:309px;
  height:89px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:36px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1179 {
  position:absolute;
  left:1048px;
  top:488px;
  width:100px;
  height:60px;
}
#u1180 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181 {
  position:absolute;
  left:1221px;
  top:626px;
  width:100px;
  height:60px;
}
#u1182 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1183 {
  position:absolute;
  left:1586px;
  top:792px;
  width:100px;
  height:60px;
}
#u1184 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1185 {
  position:absolute;
  left:1024px;
  top:792px;
  width:100px;
  height:60px;
}
#u1186 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1187 {
  position:absolute;
  left:1397px;
  top:792px;
  width:100px;
  height:60px;
}
#u1188 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1189 {
  position:absolute;
  left:779px;
  top:488px;
  width:100px;
  height:60px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1191 {
  position:absolute;
  left:879px;
  top:518px;
  width:0px;
  height:0px;
}
#u1191_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:173px;
  height:8px;
}
#u1191_seg1 {
  position:absolute;
  left:156px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1192 {
  position:absolute;
  left:34px;
  top:-16px;
  width:100px;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1193 {
  position:absolute;
  left:1221px;
  top:488px;
  width:100px;
  height:60px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1195 {
  position:absolute;
  left:1148px;
  top:518px;
  width:0px;
  height:0px;
}
#u1195_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u1195_seg1 {
  position:absolute;
  left:60px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1196 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197 {
  position:absolute;
  left:1271px;
  top:548px;
  width:0px;
  height:0px;
}
#u1197_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:82px;
}
#u1197_seg1 {
  position:absolute;
  left:-10px;
  top:65px;
  width:20px;
  height:20px;
}
#u1198 {
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  position:absolute;
  left:1397px;
  top:488px;
  width:100px;
  height:60px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1201 {
  position:absolute;
  left:1321px;
  top:518px;
  width:0px;
  height:0px;
}
#u1201_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u1201_seg1 {
  position:absolute;
  left:63px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1202 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1203 {
  position:absolute;
  left:1271px;
  top:686px;
  width:0px;
  height:0px;
}
#u1203_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1203_seg1 {
  position:absolute;
  left:-66px;
  top:6px;
  width:70px;
  height:8px;
}
#u1203_seg2 {
  position:absolute;
  left:-66px;
  top:6px;
  width:8px;
  height:92px;
}
#u1203_seg3 {
  position:absolute;
  left:-201px;
  top:90px;
  width:143px;
  height:8px;
}
#u1203_seg4 {
  position:absolute;
  left:-201px;
  top:90px;
  width:8px;
  height:16px;
}
#u1203_seg5 {
  position:absolute;
  left:-207px;
  top:93px;
  width:20px;
  height:20px;
}
#u1204 {
  position:absolute;
  left:-112px;
  top:74px;
  width:100px;
  word-wrap:break-word;
}
#u1205 {
  position:absolute;
  left:1271px;
  top:686px;
  width:0px;
  height:0px;
}
#u1205_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1205_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:67px;
  height:8px;
}
#u1205_seg2 {
  position:absolute;
  left:55px;
  top:6px;
  width:8px;
  height:92px;
}
#u1205_seg3 {
  position:absolute;
  left:55px;
  top:90px;
  width:125px;
  height:8px;
}
#u1205_seg4 {
  position:absolute;
  left:172px;
  top:90px;
  width:8px;
  height:16px;
}
#u1205_seg5 {
  position:absolute;
  left:166px;
  top:93px;
  width:20px;
  height:20px;
}
#u1206 {
  position:absolute;
  left:9px;
  top:74px;
  width:100px;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:46px;
}
#u1207 {
  position:absolute;
  left:713px;
  top:403px;
  width:1037px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:12px;
  width:1033px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:541px;
}
#u1209 {
  position:absolute;
  left:153px;
  top:603px;
  width:305px;
  height:541px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:262px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:46px;
}
#u1211 {
  position:absolute;
  left:153px;
  top:603px;
  width:304px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:12px;
  width:300px;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:385px;
}
#u1213 {
  position:absolute;
  left:153px;
  top:193px;
  width:301px;
  height:385px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:184px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:46px;
}
#u1215 {
  position:absolute;
  left:156px;
  top:147px;
  width:298px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1217 {
  position:absolute;
  left:194px;
  top:415px;
  width:100px;
  height:60px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1219 {
  position:absolute;
  left:304px;
  top:415px;
  width:100px;
  height:60px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1221 {
  position:absolute;
  left:257px;
  top:820px;
  width:100px;
  height:60px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  position:absolute;
  left:258px;
  top:688px;
  width:100px;
  height:60px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  position:absolute;
  left:202px;
  top:932px;
  width:100px;
  height:60px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  position:absolute;
  left:312px;
  top:932px;
  width:100px;
  height:60px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1229 {
  position:absolute;
  left:454px;
  top:386px;
  width:0px;
  height:0px;
}
#u1229_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u1229_seg1 {
  position:absolute;
  left:78px;
  top:-4px;
  width:8px;
  height:496px;
}
#u1229_seg2 {
  position:absolute;
  left:4px;
  top:484px;
  width:82px;
  height:8px;
}
#u1229_seg3 {
  position:absolute;
  left:-3px;
  top:478px;
  width:20px;
  height:20px;
}
#u1230 {
  position:absolute;
  left:32px;
  top:170px;
  width:100px;
  word-wrap:break-word;
}
#u1231 {
  position:absolute;
  left:454px;
  top:386px;
  width:0px;
  height:0px;
}
#u1231_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:194px;
  height:8px;
}
#u1231_seg1 {
  position:absolute;
  left:186px;
  top:-4px;
  width:8px;
  height:379px;
}
#u1231_seg2 {
  position:absolute;
  left:186px;
  top:367px;
  width:73px;
  height:8px;
}
#u1231_seg3 {
  position:absolute;
  left:246px;
  top:361px;
  width:20px;
  height:20px;
}
#u1232 {
  position:absolute;
  left:140px;
  top:61px;
  width:100px;
  word-wrap:break-word;
}
#u1233 {
  position:absolute;
  left:459px;
  top:1029px;
  width:0px;
  height:0px;
}
#u1233_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u1233_seg1 {
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:180px;
}
#u1233_seg2 {
  position:absolute;
  left:71px;
  top:168px;
  width:706px;
  height:8px;
}
#u1233_seg3 {
  position:absolute;
  left:769px;
  top:81px;
  width:8px;
  height:95px;
}
#u1233_seg4 {
  position:absolute;
  left:763px;
  top:74px;
  width:20px;
  height:20px;
}
#u1234 {
  position:absolute;
  left:296px;
  top:108px;
  width:100px;
  word-wrap:break-word;
}
#u1235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235 {
  position:absolute;
  left:1327px;
  top:942px;
  width:100px;
  height:60px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237 {
  position:absolute;
  left:1468px;
  top:942px;
  width:100px;
  height:60px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1239 {
  position:absolute;
  left:308px;
  top:748px;
  width:0px;
  height:0px;
}
#u1239_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u1239_seg1 {
  position:absolute;
  left:-5px;
  top:58px;
  width:9px;
  height:8px;
}
#u1239_seg2 {
  position:absolute;
  left:-5px;
  top:58px;
  width:8px;
  height:14px;
}
#u1239_seg3 {
  position:absolute;
  left:-11px;
  top:59px;
  width:20px;
  height:20px;
}
#u1240 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1241 {
  position:absolute;
  left:307px;
  top:880px;
  width:0px;
  height:0px;
}
#u1241_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u1241_seg1 {
  position:absolute;
  left:-59px;
  top:36px;
  width:63px;
  height:8px;
}
#u1241_seg2 {
  position:absolute;
  left:-59px;
  top:36px;
  width:8px;
  height:16px;
}
#u1241_seg3 {
  position:absolute;
  left:-65px;
  top:39px;
  width:20px;
  height:20px;
}
#u1242 {
  position:absolute;
  left:-64px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243 {
  position:absolute;
  left:307px;
  top:880px;
  width:0px;
  height:0px;
}
#u1243_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u1243_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:63px;
  height:8px;
}
#u1243_seg2 {
  position:absolute;
  left:51px;
  top:36px;
  width:8px;
  height:16px;
}
#u1243_seg3 {
  position:absolute;
  left:45px;
  top:39px;
  width:20px;
  height:20px;
}
#u1244 {
  position:absolute;
  left:-36px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245 {
  position:absolute;
  left:245px;
  top:221px;
  width:100px;
  height:60px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1247 {
  position:absolute;
  left:295px;
  top:281px;
  width:0px;
  height:0px;
}
#u1247_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1247_seg1 {
  position:absolute;
  left:-14px;
  top:6px;
  width:18px;
  height:8px;
}
#u1247_seg2 {
  position:absolute;
  left:-55px;
  top:18px;
  width:49px;
  height:8px;
}
#u1247_seg3 {
  position:absolute;
  left:-55px;
  top:18px;
  width:8px;
  height:117px;
}
#u1247_seg4 {
  position:absolute;
  left:-61px;
  top:121px;
  width:20px;
  height:20px;
}
#u1248 {
  position:absolute;
  left:-101px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u1249 {
  position:absolute;
  left:295px;
  top:281px;
  width:0px;
  height:0px;
}
#u1249_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1249_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:67px;
  height:8px;
}
#u1249_seg2 {
  position:absolute;
  left:55px;
  top:6px;
  width:8px;
  height:128px;
}
#u1249_seg3 {
  position:absolute;
  left:49px;
  top:121px;
  width:20px;
  height:20px;
}
#u1250 {
  position:absolute;
  left:9px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1251 {
  position:absolute;
  left:934px;
  top:942px;
  width:100px;
  height:60px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1253 {
  position:absolute;
  left:1071px;
  top:942px;
  width:100px;
  height:60px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1255 {
  position:absolute;
  left:975px;
  top:903px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1257 {
  position:absolute;
  left:1271px;
  top:686px;
  width:0px;
  height:0px;
}
#u1257_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1257_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:373px;
  height:8px;
}
#u1257_seg2 {
  position:absolute;
  left:361px;
  top:6px;
  width:8px;
  height:100px;
}
#u1257_seg3 {
  position:absolute;
  left:355px;
  top:93px;
  width:20px;
  height:20px;
}
#u1258 {
  position:absolute;
  left:176px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:89px;
}
#u1259 {
  position:absolute;
  left:178px;
  top:1037px;
  width:260px;
  height:89px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:36px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1261 {
  position:absolute;
  left:194px;
  top:1047px;
  width:100px;
  height:60px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1263 {
  position:absolute;
  left:331px;
  top:1047px;
  width:100px;
  height:60px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1265 {
  position:absolute;
  left:235px;
  top:1008px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1267 {
  position:absolute;
  left:1383px;
  top:903px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:556px;
}
#u1269 {
  position:absolute;
  left:153px;
  top:1318px;
  width:1011px;
  height:556px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:270px;
  width:1007px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:46px;
}
#u1271 {
  position:absolute;
  left:153px;
  top:1318px;
  width:1037px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:12px;
  width:1033px;
  word-wrap:break-word;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1273 {
  position:absolute;
  left:193px;
  top:1416px;
  width:100px;
  height:60px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1275 {
  position:absolute;
  left:386px;
  top:1416px;
  width:100px;
  height:60px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1277 {
  position:absolute;
  left:774px;
  top:1416px;
  width:100px;
  height:60px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1279 {
  position:absolute;
  left:561px;
  top:1539px;
  width:100px;
  height:60px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1281 {
  position:absolute;
  left:561px;
  top:1416px;
  width:100px;
  height:60px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1283 {
  position:absolute;
  left:386px;
  top:1795px;
  width:100px;
  height:60px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1285 {
  position:absolute;
  left:386px;
  top:1655px;
  width:100px;
  height:60px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1287 {
  position:absolute;
  left:561px;
  top:1655px;
  width:100px;
  height:60px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1289 {
  position:absolute;
  left:561px;
  top:1795px;
  width:100px;
  height:60px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1291 {
  position:absolute;
  left:722px;
  top:1795px;
  width:100px;
  height:60px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1293 {
  position:absolute;
  left:722px;
  top:1655px;
  width:100px;
  height:60px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1295 {
  position:absolute;
  left:293px;
  top:1446px;
  width:0px;
  height:0px;
}
#u1295_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u1295_seg1 {
  position:absolute;
  left:80px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1296 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297 {
  position:absolute;
  left:486px;
  top:1446px;
  width:0px;
  height:0px;
}
#u1297_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u1297_seg1 {
  position:absolute;
  left:62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1298 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299 {
  position:absolute;
  left:661px;
  top:1446px;
  width:0px;
  height:0px;
}
#u1299_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u1299_seg1 {
  position:absolute;
  left:100px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1300 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1301 {
  position:absolute;
  left:611px;
  top:1476px;
  width:0px;
  height:0px;
}
#u1301_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u1301_seg1 {
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u1302 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u1303 {
  position:absolute;
  left:611px;
  top:1599px;
  width:0px;
  height:0px;
}
#u1303_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u1303_seg1 {
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u1304 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305 {
  position:absolute;
  left:611px;
  top:1715px;
  width:0px;
  height:0px;
}
#u1305_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u1305_seg1 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u1306 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u1307 {
  position:absolute;
  left:611px;
  top:1599px;
  width:0px;
  height:0px;
}
#u1307_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1307_seg1 {
  position:absolute;
  left:-53px;
  top:6px;
  width:57px;
  height:8px;
}
#u1307_seg2 {
  position:absolute;
  left:-53px;
  top:6px;
  width:8px;
  height:39px;
}
#u1307_seg3 {
  position:absolute;
  left:-179px;
  top:37px;
  width:134px;
  height:8px;
}
#u1307_seg4 {
  position:absolute;
  left:-179px;
  top:37px;
  width:8px;
  height:19px;
}
#u1307_seg5 {
  position:absolute;
  left:-185px;
  top:43px;
  width:20px;
  height:20px;
}
#u1308 {
  position:absolute;
  left:-124px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309 {
  position:absolute;
  left:611px;
  top:1599px;
  width:0px;
  height:0px;
}
#u1309_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1309_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:59px;
  height:8px;
}
#u1309_seg2 {
  position:absolute;
  left:47px;
  top:6px;
  width:8px;
  height:39px;
}
#u1309_seg3 {
  position:absolute;
  left:47px;
  top:37px;
  width:118px;
  height:8px;
}
#u1309_seg4 {
  position:absolute;
  left:157px;
  top:37px;
  width:8px;
  height:19px;
}
#u1309_seg5 {
  position:absolute;
  left:151px;
  top:43px;
  width:20px;
  height:20px;
}
#u1310 {
  position:absolute;
  left:18px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311 {
  position:absolute;
  left:436px;
  top:1715px;
  width:0px;
  height:0px;
}
#u1311_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u1311_seg1 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u1312 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u1313 {
  position:absolute;
  left:772px;
  top:1715px;
  width:0px;
  height:0px;
}
#u1313_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u1313_seg1 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u1314 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u1315 {
  position:absolute;
  left:822px;
  top:1685px;
  width:0px;
  height:0px;
}
#u1315_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u1315_seg1 {
  position:absolute;
  left:14px;
  top:-120px;
  width:8px;
  height:124px;
}
#u1315_seg2 {
  position:absolute;
  left:-161px;
  top:-120px;
  width:183px;
  height:8px;
}
#u1315_seg3 {
  position:absolute;
  left:-168px;
  top:-126px;
  width:20px;
  height:20px;
}
#u1316 {
  position:absolute;
  left:-54px;
  top:-124px;
  width:100px;
  word-wrap:break-word;
}
#u1317 {
  position:absolute;
  left:386px;
  top:1685px;
  width:0px;
  height:0px;
}
#u1317_seg0 {
  position:absolute;
  left:-20px;
  top:-4px;
  width:20px;
  height:8px;
}
#u1317_seg1 {
  position:absolute;
  left:-20px;
  top:-120px;
  width:8px;
  height:124px;
}
#u1317_seg2 {
  position:absolute;
  left:-20px;
  top:-120px;
  width:195px;
  height:8px;
}
#u1317_seg3 {
  position:absolute;
  left:162px;
  top:-126px;
  width:20px;
  height:20px;
}
#u1318 {
  position:absolute;
  left:-36px;
  top:-124px;
  width:100px;
  word-wrap:break-word;
}
#u1319 {
  position:absolute;
  left:645px;
  top:1676px;
  width:0px;
  height:0px;
}
#u1319_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u1319_seg1 {
  position:absolute;
  left:-2px;
  top:-77px;
  width:8px;
  height:81px;
}
#u1319_seg2 {
  position:absolute;
  left:-8px;
  top:-84px;
  width:20px;
  height:20px;
}
#u1320 {
  position:absolute;
  left:-48px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
}
